<div class="container">
  <div class="row">
    <input type="file" class="form-control " (change)="uploadFile($event)" data-title="Welcome!"
      data-intro="select file with .xml" data-hintposition="bottom-middle" data-step='1' />
  </div>
  <div class="row">
    <table class="table table-bordered table-hover" data-title="Welcome!"
      data-intro="data will show after extracting to json" data-hintposition="top-right" data-step='2'>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Mobile</th>
      </tr>
      <tr *ngFor="let item of xmlItems">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.mobile}}</td>
      </tr>
    </table>
  </div>

</div>
