<div class="container">
  <div class="row">
    <input type="file" class="form-control " (change)="uploadFile($event)" data-step="1"
      data-intro="select file with .xml" />
  </div>
  <div class="row">
    <table class="table table-bordered table-hover" data-step="2" data-intro="data after extract to json">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Mobile</th>
      </tr>
      <tr *ngFor="let item of xmlItems">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.mobile}}</td>
      </tr>
    </table>
  </div>

</div>
